[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/nlohmann_json"]
	path = dependencies/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "dependencies/stduuid"]
	path = dependencies/stduuid
	url = https://github.com/mariusbancila/stduuid.git
